body {
    background: #fff;
    color: #6ecddd;
    font-family: 'Bebas';
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  h1 {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 0.15em;
    font-size: 3em;
    line-height: 1.2;
    transform: translateY(52%);
  }
  
  
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 0%;
    left: 4%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 50%;
  }
  
  .hamburger div {
    position: relative;
    width: 2em;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 8px;
    margin-left: 9px;
    top: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0%; left: -100%; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: center;
    margin-top: 10%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    /* display: inline-block; */
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  /* nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  } */
  .plus_icon:before {
    content: "+";
    padding: 0 8px;
}
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 19px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -3px;
  }
  
  #toggle:checked + .hamburger + .nav {
    /* top: 0; */
    transform: scale(1);
    left:0;
  }
  nav ul {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  nav .menu_list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sub_menu{
    display: flex;
    width: 100%;
    margin: 0 auto !important;
    justify-content: space-evenly;
    align-items: center;
  }
  .inner-image{
    width: 173px;
    height: 190px;
  }
  .inner_menu{
    flex-direction: column;
    margin-top: -35px;
  }
  .inner_menu span{
    font-size: 18px;
  }